.imageViewer {
  max-height: calc(100% - 20px);
  max-width: calc(100% - 20px);
}

.imgsContainer {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  padding-left: 7vw;
  padding-right: 7vw;
  margin-top: -30px;
}

.imgThumbNutri {
  height: calc((86vw) / 2 - 6vw);
  width: calc((86vw) / 2 - 6vw);
  margin: 3vw;
}
