#ELEGIR_OPCIN {
  position: absolute;
  width: 375px;
  height: 667px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: ELEGIR OPCIÓN;
  --web-view-id: ELEGIR_OPCIN;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: fit;
  --web-enable-deep-linking: true;
}
#Path_1054 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Grupo_11 {
  position: absolute;
  width: 198.991px;
  height: 42.646px;
  left: 88px;
  top: 150.854px;
  overflow: visible;
}
#Rectangle_65 {
  opacity: 0.15;
  position: absolute;
  width: 198.991px;
  height: 42.394px;
  left: 0px;
  top: 0.252px;
  overflow: visible;
}
#Group_17 {
  position: absolute;
  width: 193.057px;
  height: 35.773px;
  left: 2.042px;
  top: 0px;
  overflow: visible;
}
#Group_16 {
  position: absolute;
  width: 193.057px;
  height: 35.773px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Grupo_9 {
  position: absolute;
  width: 193.057px;
  height: 35.773px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Grupo_1 {
  position: absolute;
  width: 193.057px;
  height: 35.773px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Trazado_1 {
  fill: rgba(255, 255, 255, 1);
}
.Trazado_1 {
  overflow: visible;
  position: absolute;
  width: 38.875px;
  height: 26.13px;
  left: 0px;
  top: 9.001px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Trazado_2 {
  fill: rgba(255, 255, 255, 1);
}
.Trazado_2 {
  overflow: visible;
  position: absolute;
  width: 16.339px;
  height: 33.303px;
  left: 72.075px;
  top: 2.071px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Trazado_3 {
  fill: rgba(255, 255, 255, 1);
}
.Trazado_3 {
  overflow: visible;
  position: absolute;
  width: 23.863px;
  height: 35.131px;
  left: 91.755px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Trazado_4 {
  fill: rgba(255, 255, 255, 1);
}
.Trazado_4 {
  overflow: visible;
  position: absolute;
  width: 25.385px;
  height: 26.777px;
  left: 119.702px;
  top: 8.995px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Trazado_5 {
  fill: rgba(255, 255, 255, 1);
}
.Trazado_5 {
  overflow: visible;
  position: absolute;
  width: 16.385px;
  height: 26.129px;
  left: 149.171px;
  top: 9.003px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Trazado_6 {
  fill: rgba(255, 255, 255, 1);
}
.Trazado_6 {
  overflow: visible;
  position: absolute;
  width: 23.865px;
  height: 26.134px;
  left: 169.193px;
  top: 8.996px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Grupo_10 {
  position: absolute;
  width: 28.444px;
  height: 33.929px;
  left: 42.598px;
  top: 0.929px;
  overflow: visible;
}
#Trazado_15 {
  fill: rgba(255, 255, 255, 1);
}
.Trazado_15 {
  overflow: visible;
  position: absolute;
  width: 28.444px;
  height: 33.929px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Trazado_16 {
  fill: rgba(255, 255, 255, 1);
}
.Trazado_16 {
  overflow: visible;
  position: absolute;
  width: 3.378px;
  height: 2.744px;
  left: 15.083px;
  top: 13.965px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Cuidado_materno_a_todo_momento {
  left: 118px;
  top: 542px;
  position: absolute;
  overflow: visible;
  width: 141px;
  white-space: nowrap;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.3px;
}
#Rectangle_126 {
  fill: rgba(173, 228, 255, 1);
}
.Rectangle_126 {
  position: absolute;
  overflow: visible;
  width: 213px;
  height: 144px;
  left: 81px;
  top: 310px;
}
#Rectangle_125 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_125 {
  position: absolute;
  overflow: visible;
  width: 213px;
  height: 144px;
  left: 81px;
  top: 306px;
}
#Line_4 {
  fill: transparent;
  stroke: rgba(173, 228, 255, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_4 {
  overflow: visible;
  position: absolute;
  width: 166px;
  height: 2px;
  left: 105.5px;
  top: 378px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#INICIAR_SESIN {
  left: 121px;
  top: 404px;
  position: absolute;
  overflow: visible;
  width: 135px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: INICIAR_SESI_N.html;
  cursor: pointer;
  line-height: 18px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: rgba(106, 106, 106, 1);
  letter-spacing: 0.3px;
}
#REGISTRARSE {
  left: 130px;
  top: 334px;
  position: absolute;
  overflow: visible;
  width: 117px;
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  --web-action-target: REGISTRO.html;
  cursor: pointer;
  line-height: 18px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: rgba(102, 102, 102, 1);
  letter-spacing: 0.3px;
}
